@charset "utf-8";

// Import a Google Font
@import url("https://fonts.googleapis.com/css?family=Lato:400,700");

// Import custom variables and Bulma overides
@import "./variables.scss";

// Import only what you need from Bulma
@import "bulma/sass/utilities/_all.sass";
@import "bulma/sass/base/_all.sass";
@import "bulma/sass/elements/button.sass";
@import "bulma/sass/elements/container.sass";
@import "bulma/sass/elements/title.sass";
@import "bulma/sass/form/_all.sass";
@import "bulma/sass/components/navbar.sass";
@import "bulma/sass/layout/hero.sass";
@import "bulma/sass/layout/section.sass";

// Fix for transparent background on active nav items
a.navbar-item:focus,
a.navbar-item:focus-within,
a.navbar-item:hover,
a.navbar-item.is-active,
.navbar-link:focus,
.navbar-link:focus-within,
.navbar-link:hover,
.navbar-link.is-active {
  background-color: inherit;
}

#table {
  width: 100%;
}

.reactable-column-header {
  outline: none;
}

.reactable-column-header > *:hover {
  cursor: pointer;
  background-color: lightgrey;
}

.reactable-column-header > *:focus {
  outline: 0;
  background-color: rgb(230, 230, 230);
}

#trash-icon {
  background-color: lightpink;
}

#edit-icon {
  background-color: rgb(211, 222, 235);
}

#edit-icon:hover {
  background-color: rgb(165, 191, 224);
  cursor: pointer;
}

#trash-icon:hover {
  background-color: lightcoral;
  cursor: pointer;
}

#trash-icon *:hover {
  opacity: 0.6;
}
#edit-icon *:hover {
  opacity: 0.6;
}

td {
  word-wrap: break-word;
  max-width: 200px;
}
